form{
    /* background-color: yellow; */
    width: 50%;
    height: 250px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background: rgba(0, 0, 0, 0.558) ;
    height: 220px;
    width: 250px;
    border-radius: 10% 30% 10% 30%;
    padding: 0px;
    /* background-color: rgb(195, 65, 65); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 12px;
    margin: 1px;
    color:greenyellow;
}
input{
    margin: 10px 5px 0px 5px;
    border: 1px;
    border-radius: 40px;
    height: 20px;
    background-color: grey;

}
input:focus{
    outline: none;
    border: 1.5px solid greenyellow;

}
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
img{
    padding-top: 15px;
    width: 400px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
}
label {
    color: aliceblue;
}
button{
    margin-top: 5px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    border-radius: 40px;
    border: none;
    transition: ease 0.5s;
    width: 80px;
    height: 20px;
}

/*Pseudoclases*/

button:hover{
    background: rgb(22, 213, 57);
}

