form {
  /* background-color: yellow; */
  width: 50%;
  height: 250px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background: rgba(0, 0, 0, 0.558);
  height: 220px;
  width: 250px;
  border-radius: 10% 30% 10% 30%;
  padding: 0px;
  /* background-color: rgb(195, 65, 65); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 12px;
  margin: 1px;
  color: rgb(15, 243, 224);
}

.input {
  margin: 10px 5px 0px 5px;
  border: 1px;
  border-radius: 40px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  width: 220px;
  padding-left: 15px;
}

.input:focus {
  outline: none;
  border: 1.5px solid rgb(15, 243, 224);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.display img {
  padding-top: 15px;
  width: 400px;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
}

.label {
  color: aliceblue;
}

.enviar {
  margin-top: 15px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 900;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  transition: ease 0.5s;
  width: 100px;
  height: 20px;
  background-color: rgb(15, 243, 224);
  color: rgb(0, 0, 0);
}

/*Pseudoclases*/

/* button:hover{
    background: rgb(22, 213, 57);
} */
