:root {
  --colorPrimario: red;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
}

.search {
  background: rgb(124, 116, 116);
  border: none;
  border-radius: 15px;
  padding: 0 10px 0 10px;
  margin-right: 20px;
  height: 32px;
  color: white;
}
.search::placeholder {
  color: rgb(211, 212, 220);
}

/* .search:hover{
    border: none;
    outline: none;
    box-sizing: border-box;
} */

.search:focus {
  outline: none;
}

.button button:first-child {
  margin-right: 20px;
}
.button button {
  height: 32px;
  font-size: 20px;
  border-radius: 10px;
  border: solid 2px;
}
